* {
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma;
}

body {
  background-color: #28282B;
}

.main-container {
  display: relative;
  width: 30vw;
  height: 30vh;
  background-color: white;
  justify-content: center;
  border: 0px transparent;
  border-radius: 5px;
  margin: 35vh 35vw;
}

.click-button {
  margin-top: 5%;
  margin-left: 6.5vw;
}

#click-me-button {
  border: 0px transparent;
  width: 19vw;
  border-radius: 6px;
  padding: 2px;
}

.content-container {
  margin-top: 30%;
}

#number-value {
  color: rgba(255, 255, 255, 0.753);
}

#output {
  display: absolute ;
  justify-content: center;
  color: black;
  margin-left: 50%;
}

.output-div {
  padding-top: 10%;
}

.place-div {
  margin-top: 2%;
}

#number-value {
  display: absolute ;
  justify-content: center;
  margin-left: 22%;
  margin-top: 1%;
  width: 18vw;
  height: 4vh;
  border: 1px #28282B; 
  background-color: #28282B;
  padding-left:10px;
  border-radius: 6px;
}

